<div class="container">
  <div class="row justify-content-left">
    <h1 class="mt-4">居酒屋詳細編集</h1>
  </div>

  <%= form_with model: @pub, url: pub_path(@pub.id), method: :patch do |f| %>
  <div class="row">
    <div class="col-7">
      <h4 class="mt-3 mb-1">投稿写真</h4></br>
      <div class="mb-4">
        <%= f.file_field :images, accept: "image/*" %></br>
      </div>
      <% @pub.images.each do |image| %>
      <%= image_tag image, size: "170x170", class:"mb-1 mr-1" %>
      <% end %>
    </div>

    <div class="col-5">
      <table colass="table">
        <tbody>
          <tr>
            <th>
              <h4 class="mt-3 mb">居酒屋名</h4>
            </th>
            <td>
              <h4 class="mt-3 mb ml-5"><%= f.text_field :name %></h4>
            </td>
          </tr>
          <tr>
            <th>
              <h6 class="mb">居酒屋紹介文</h6>
            </th>
            <td>
              <h5 class="mb ml-5"><%= f.text_area :introduction %></h5>
            </td>
          </tr>
          <tr>
            <th>
              <h4 class="mb">目安予算</h4>
            </th>
            <td>
              <h5 class="mb ml-5"><%= f.text_field :average_budget %>円</h4>
            </td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "変更を保存", class:"btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>