<div class="pub-image">
<div class="container">
  <div class="d-flex justify-content-center">
    <h2 class="my-4 p-2 text-color bg-pub">居酒屋一覧</h2>
  </div>

  <div class="row">
    <% @pubs.each do |pub| %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-header">
            <%= link_to pub.user.nickname, user_path(@user.id), class: "link" %>
          </div>
          <% if pub.images.attached? %>
            <%= image_tag pub.images.first.variant(resize_to_limit: [300, 300]).processed, class: "pub-card-image" %><br>
          <% else %>
            <%= image_tag "no-image.jpg".processed, class: "pub-card-image" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to pub.name, pub_path(pub.id), class: "link" %>
              <% if pub.favorited_by?(current_user) %>
              <p>
                <%= link_to pub_favorites_path(pub), method: :delete do %>
                  ♥<%= pub.favorites.count %>
                <% end %>
                <i class="fa-regular fa-message"></i><%= pub.comments.count %>
              </p>
              <% else %>
              <p>
                <%= link_to pub_favorites_path(pub), method: :post do %>
                  ♡<%= pub.favorites.count %>
                <% end %>
                <i class="fa-regular fa-message"></i><%= pub.comments.count %>
              </p>
              <% end %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!--<div class="row vh100 align-items-center ">-->
  <!--  <% @pubs.each do |pub| %>-->
  <!--  <div class="col-4 ">-->
  <!--    <div class="field rounded bg-pub">-->
  <!--      <%= link_to pub.user.nickname, user_path(@user.id), class:"link" %><br>-->
  <!--      <% if pub.images.attached? %>-->
  <!--      <%= image_tag pub.images[0].variant(gravity: :center, resize:"250x250^") %><br>-->
  <!--      <% end %>-->
  <!--      <%= link_to pub.name, pub_path(pub.id), class:"link" %>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <% end %>-->
  <!--</div>-->
</div>
</div>