<div class="container">
  <div class="row justify-content-left">
    <h1 class="mt-4 mb-4">新規投稿</h1>
  </div>

  <%= form_with model: @pub, url: pubs_path do |f| %>
  <div class="row">
    <div class="col-7">
      <div class="mb-4">
         <h3 class="mr-3">居酒屋名<h3>
         <%= f.text_field :name %>
      </div>

      <div class="mb-4">
         <h3 class="mr-3">目安予算<h3>
         <%= f.text_field :average_budget %>円
      </div>

      <div class="mb-4">
         <h3 class="mr-3">居酒屋紹介文<h3>
         <%= f.text_area :introduction %>
      </div>

      <%= f.submit "投稿", class:"btn btn-primary" %>
    </div>

    <div class="col-5">
      <div class="field">
        <h3 class="mb-4">投稿写真</h3>
      </div>
      <div class="field">
        <%= f.file_field :images, multiple: true, accept: "image/*" %></br>
      </div>
    </div>
  </div>
  <% end %>
</div>