<div class="container">
    <div class="row justify-content-left">
        <h1 class="mt-4 mb-4">居酒屋詳細</h1>
    </div>

    <div class="row">
        <div class="col-7">
            <% @pub.images.each do |image| %>
            <%= image_tag image, size: "170x170", class:"mb-1 mr-1" %>
            <% end %>
        </div>

        <div class="col-5">
            <table colass="table">
                <tbody>
                    <tr>
                        <th>
                            <h4 class="mb">居酒屋名</h4>
                        </th>
                        <td>
                            <h4 class="mb ml-5"><%= @pub.name %></h4>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h4 class="mb">ユーザー名</h4>
                        </th>
                        <td>
                            <h4 class="mb ml-5"><%= @user.nickname %></h4>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h6 class="mb">居酒屋紹介文</h6>
                        </th>
                        <td>
                            <h5 class="mb ml-5"><%= @pub.introduction %></h5>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h4 class="mb">目安予算</h4>
                        </th>
                        <td>
                            <h4 class="mb ml-5"><%= @pub.average_budget %>円</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
            <% if @user == current_user %>
            <%= link_to "投稿編集", edit_pub_path, class:"btn btn-success" %></br>
            <% end %>
        </div>
    </div>
</div>