<div class="container">
  <div class="row justify-content-left">
    <h2 class="mt-4 mb-5">管理者ログイン</h2>
  </div>

  <%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="row justify-content-center">
    <div class="col-3">
      <%= f.label :email, "メールアドレス", class:"mb-4" %><br>
      <%= f.label :password, "パスワード" %>
    </div>

    <div class="col-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"mb-4" %><br>
      <%= f.password_field :password, autocomplete: "current-password"%>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
      <%= f.submit "ログイン", class:"btn btn-primary" %>
  </div>
    <% end %>
  </div>
</div>
<%= render "admin/shared/links" %>