<div class="container">
  <div class="row justify-content-left">
    <h1 class="mt-4 mb-5"><%= @user.nickname %>さんの会員詳細編集</h1>
  </div>

  <%= form_with model: @user, url: admin_user_path, method: :patch do |user| %>
  <div class="row">
    <div class="col-10">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>
              <h4 class="mb">会員ID</h4>
            </th>
            <td>
              <h4 class="mb"><%= @user.id %></h4>
            </td>
          </tr>
          <tr>
            <th>
              <h4 class="mb">ユーザー名</h4>
            </th>
            <td>
              <h4 class="mb"><%= user.text_field :nickname %></h4>
            </td>
          </tr>
          <tr>
            <th>
              <h4 class="mb">メールアドレス</h4>
            </th>
            <td>
              <h4 class="mb"><%= user.text_field :email %></h4>
            </td>
          </tr>
          <tr>
            <th>
              <h4 class="mb">会員ステータス</h4>
            </th>
            <td>
              <%= user.radio_button :is_deleted, true %>
              <%= user.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
    　         <%= user.radio_button :is_deleted, false %>
            　<%= user.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= user.submit "保存", class:"btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>