<div class="container vh">
  <div class="row justify-content-left mt-4 mb-5">
    <h2>アカウント編集</h2>
  </div>

  <%= form_with model: @user, url: user_path(id:current_user.id), method: :patch do |f| %>
  <div class="row">
    <div class="col-6">
    <div class="field mb-4">
      <p>ニックネーム</p>
      <%= f.text_field :nickname %>
    </div>
    <div class="field mb-4">
      <p>メールアドレス</p>
      <%= f.text_field :email %>
    </div></br>
    <!--<div class="field">-->
    <!--  <p>パスワード</p>-->
      <%#= f.text_field :passwords %>
    <!--</div></br>-->
    <div class="field">
      <p>自己紹介文</p>
      <%= f.text_area :self_introduction %>
    </div></br>
    <div class="row">
      <div class="col-3">
         <div class="field">
           <%= f.submit "内容を保存", class:"btn btn-primary" %>
         </div>
      </div>
      <div class="col-3">
         <div class="field">
           <%= link_to "退会", users_confirmation_path, class:"btn btn-danger" %>
         </div>
      </div>
    </div>
    </div>

    <div class="col-6">
      <h3 class="mb-4">
        ユーザー写真
      </h3>
      <div class="field mb-4">
        <%= f.file_field :profile_image, accept: "image/*" %></br>
      </div>
      <%= image_tag @user.profile_image, size: "300x250" %>
    </div>
  </div>
  <% end %>
</div>