<div class="container vh">
  <div class="row ">
    <div class="col-md-4">
      <%= image_tag @user.get_profile_image(250,250), class:"mt-5 mb-4 border border-dark" %></br>
      <h2 class="mt-4 mb-4">
      <%= @user.nickname %></br>
      </h2>
      <h4 class="mb-4">
      <%= @user.self_introduction %></br>
      </h4>
      <% if @user == current_user %>
      <%= link_to "編集", edit_user_path, class:"mt-4 mb-5 btn btn-success" %></br>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @pubs.each do |pub| %>
    <div clas="col-md-4">
          <div class="card mb-3 mr-3">
          　<%= image_tag pub.images.first.variant(resize_to_limit: [200, 200]).processed, class: "pub-card-image" %></br>
          　<div class="card-body">
             <h5 class="card-title">
              <%= link_to pub.name, pub_path(pub.id) %>
             </h5>
            </div>
          </div>
          <!--<h6 class="mt-1 mb-1 mr-1">-->
          <!--  <%= link_to pub.name, pub_path(pub.id) %>-->
          <!--</h6>-->
    </div>
    <% end %>
  </div>
</div>